<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myxx.tktest.mapper.MaterialInfoMapper">
  <resultMap id="BaseResultMap" type="com.myxx.tktest.pojo.MaterialInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="MATERIAL_ID" jdbcType="DECIMAL" property="materialId" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="MATERIAL" jdbcType="VARCHAR" property="material" />
    <result column="PROJECT_ID" jdbcType="DECIMAL" property="projectId" />
    <result column="CATE_ID" jdbcType="DECIMAL" property="cateId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>